tmp/
crash.log
.DS_Store
content/notes/*/*.aux
content/notes/*/*.bbl
content/notes/*/*.bcf
content/notes/*/*.blg
content/notes/*/*.fdb_latexmk
content/notes/*/*.fls
content/notes/*/*.log
content/notes/*/*.run.xml
