#!/usr/bin/env ruby

ignore '/notes/unfinished/**/*'

compile '/notes/index.md' do
  filter :erb
  filter :kramdown

  layout '/default.html'

  write '/notes/index.html'
end

compile '/notes/**/*.md' do
  filter :pandoc, args: [ :katex ]

  layout '/article.html'
  layout '/default.html'

  write item.identifier.without_ext + '.html'
end

# Compile partial markdown files (used only as embedded content)
compile '/**/*.md' do
  filter :erb if @item[:is_dynamic]
  filter :kramdown
  
  # Only write output files for non-partials
  unless @item[:is_partial]
    layout '/default.*'
    filter :relativize_paths, type: :html5
    if item.identifier =~ '**/index.*'
      write item.identifier.without_ext + '.html'
    else
      write item.identifier.without_ext + '/index.html'
    end
  end
end

passthrough '/assets/**/*'
passthrough '/notes/*.pdf'

layout '/**/*', :erb
